<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="todo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  	<script src="todo.js"></script>
  </head>
  <body>
    <div ng-app="todoList">
	<h1>Todo List</h1>
		<div ng-controller="todoListController">
			<button class="btn-primary" ng-click="removeDoneTask()">Remove Done</button>
			<input type="text" placeholder="New todo here" ng-model="newTask">
			<button class="btn-primary" ng-click="addTodo()">Add</button>
			<p>{{totalDoneTask()}} task(s) of {{totalTask()}} is done ({{donePercent()}}%)</p>
			<ul>
			    <li ng-repeat="task in list">
				<label>
				    <input type="checkbox" ng-model="task.done" ng-click="checkDone(task)">
				    <span class="done-{{task.done}}">{{task.taskName}}</span>
				</label>    
			    </li>
			</ul>	
		</div>
    </div>
	
  </body>
</html>
